In [1]:
import pandas as pd
import seaborn as sns

import src.cleaning as cleaning

In [3]:
#Â Sample to test functions:
sample = pd.read_csv('data/JC-202201-citibike-tripdata.csv').sample(20)

In [5]:
sample.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,distance
13398,A01BD5F1510B52A9,electric_bike,2022-01-03 12:30:56,2022-01-03 12:33:24,Morris Canal,JC072,Paulus Hook,JC002,40.712419,-74.038526,40.714145,-74.033552,member,461.935185
20566,E5B2B060D993199B,classic_bike,2022-01-19 16:22:12,2022-01-19 16:30:10,Adams St & 2 St,HB407,Newport PATH,JC066,40.739814,-74.036904,40.727224,-74.033759,member,1423.149124
11821,6C1855CE3F7B344A,classic_bike,2022-01-09 12:55:21,2022-01-09 13:14:02,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Newark Ave,JC032,40.735938,-74.030305,40.721525,-74.046305,member,2094.885002
17593,CCF1F1F04461621C,classic_bike,2022-01-02 10:58:27,2022-01-02 11:05:18,Hudson St & 4 St,HB607,12 St & Sinatra Dr N,HB201,40.740973,-74.028603,40.750604,-74.024020,casual,1137.462917
24022,59680257C94CA41C,electric_bike,2022-01-20 05:11:33,2022-01-20 05:14:33,McGinley Square,JC055,Sip Ave,JC056,40.725340,-74.067622,40.730897,-74.063913,member,692.126137

In [6]:
sample.describe()

       start_lat  start_lng    end_lat    end_lng     distance
count  20.000000  20.000000  20.000000  20.000000    20.000000
mean   40.729482 -74.043368  40.731777 -74.040361  1178.294465
std     0.008425   0.012728   0.013089   0.010850   758.196134
min    40.712419 -74.067622  40.712419 -74.063913   214.823905
25%    40.724882 -74.047820  40.721619 -74.044460   686.639746
50%    40.728170 -74.040821  40.729060 -74.038913  1049.494683
75%    40.735938 -74.033346  40.741069 -74.032906  1412.941882
max    40.746413 -74.027781  40.754530 -74.024020  3463.239900

In [7]:
#Â Started at and ended at should be in date format:
sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 13398 to 4318
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             20 non-null     object
 1   rideable_type       20 non-null     object
 2   started_at          20 non-null     object
 3   ended_at            20 non-null     object
 4   start_station_name  20 non-null     object
 5   start_station_id    20 non-null     object
 6   end_station_name    20 non-null     object
 7   end_station_id      20 non-null     object
 8   start_lat           20 non-null     float64
 9   start_lng           20 non-null     float64
 10  end_lat             20 non-null     float64
 11  end_lng             20 non-null     float64
 12  member_casual       20 non-null     object
 13  distance            20 non-null     float64
dtypes: float64(5), object(9)
memory usage: 2.3+ KB

In [4]:
sample = cleaning.trip_distance(sample)
sample.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,distance
13398,A01BD5F1510B52A9,electric_bike,2022-01-03 12:30:56,2022-01-03 12:33:24,Morris Canal,JC072,Paulus Hook,JC002,40.712419,-74.038526,40.714145,-74.033552,member,461.935185
20566,E5B2B060D993199B,classic_bike,2022-01-19 16:22:12,2022-01-19 16:30:10,Adams St & 2 St,HB407,Newport PATH,JC066,40.739814,-74.036904,40.727224,-74.033759,member,1423.149124
11821,6C1855CE3F7B344A,classic_bike,2022-01-09 12:55:21,2022-01-09 13:14:02,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Newark Ave,JC032,40.735938,-74.030305,40.721525,-74.046305,member,2094.885002
17593,CCF1F1F04461621C,classic_bike,2022-01-02 10:58:27,2022-01-02 11:05:18,Hudson St & 4 St,HB607,12 St & Sinatra Dr N,HB201,40.740973,-74.028603,40.750604,-74.024020,casual,1137.462917
24022,59680257C94CA41C,electric_bike,2022-01-20 05:11:33,2022-01-20 05:14:33,McGinley Square,JC055,Sip Ave,JC056,40.725340,-74.067622,40.730897,-74.063913,member,692.126137